h1{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
img{
    border: 5px solid white;
    height: 200px;
    width: 200px;
}
body{
    background-color: black;
}
div{
    width: 50%;
    margin-left: 25%;
}
